build/
node_modules
gradle.properties
/bin/
**/.classpath
**/.project
.settings/

**/bower_components/*
**/fixtnotingit/
fixturesingit/dtos/*.json
.gradle
build/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache 

application.properties
application-dev.properties
mrjars/
hadoop-config.xml
jobproperties/**/*.job
jobproperties/libs/
/testtmp
*.class
.vscode
templateRoot/
**/t.properties
pb.log
**/*.log
test.yml
Vagrantfile
.vagrant
**/*.msi
common.cab
log/
LOG_FILE_IS_UNDEFINED
boxes/
servers/
demobox.yml
notingit/
**/jooqschema/
dbdata/
_upgrade.properties
testfield/