<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="detail (tplUtil, serverCtx)">
    <div th:assert="${tplUtil}, ${serverCtx}"></div>
    <div th:if="${(serverCtx.mysqlFlushs ne null) and (not #lists.isEmpty(serverCtx.mysqlFlushs))}">
      <table class="pure-table pure-table-bordered">
        <caption>MYSQL备份情况表</caption>
        <thead>
        <tr>
          <th>日期</th>
          <th>时间</th>
          <th>文件总大小</th>
          <th>文件数量</th>
          <th>耗时</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="flush : ${serverCtx.mysqlFlushs}">
          <td th:text="${#dates.format(flush.createdAt, 'yyyy-MM-dd')}">Onions</td>
          <td th:text="${#dates.format(flush.createdAt, 'HH:mm:ss')}">Onions</td>
          <td th:text="${tplUtil.formatSize(flush.fileSize)}">2.41</td>
          <td th:text="${flush.fileNumber}">2.41</td>
          <td th:text="${tplUtil.getFormatedTimeCosts(flush.timeCost)}">Onions</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</body>
</html>