<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!--/*-->
 
<!--*/-->

<body>
  <div th:fragment="detail" th:with="tb=${serverCtx.getStorageStateByRoot()}" >
  <div th:if="${not #maps.isEmpty(tb)}">
    <div>
      <table class="pure-table pure-table-bordered">
        <caption>存储容量变化表</caption>
        <thead>
        <tr th:with="dts=${tb.values().iterator().next().keySet()}">
          <th>根目录</th>
          <th th:each="dt: ${dts}" th:text="${dt}">使用比例</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="rootDatePercentsEntry: ${tb}">
          <td th:text="${rootDatePercentsEntry.key}">2.41</td>
          <td th:each="dp: ${rootDatePercentsEntry.value}" th:text="|${#numbers.formatDecimal(dp.value.getUsedRatio(),0,2)}%|">使用比例</td>
        </tr>
         </tbody>
      </table>
    </div>
  </div>
  </div>
</body>
</html>