spring.shell.interactive.enabled=true
spring.shell.script.enabled=true

# openssl enc -aes-128-cbc -k RANDOM_PASSPHRASE -P -md sha256
# create database weblized charset=utf8;
spring.datasource.url=jdbc:mysql://localhost:3306/weblizeddev?useUnicode=yes&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
spring.datasource.username=root
spring.datasource.password=123456
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.validation-query=select 1
spring.datasource.test-on-borrow=true

# SerializationFeature.class
spring.jackson.serialization.INDENT_OUTPUT=true
 
spring.jooq.sql-dialect=MYSQL
# jdbc, memory
spring.quartz.job-store-type=jdbc
org.quartz.jobStore.driverDelegateClass=org.quartz.impl.jdbcjobstore.StdJDBCDelegate
# always, embeded.
spring.quartz.jdbc.initialize-schema=never

spring.flyway.locations=classpath:/dev/db/migration

spring.mail.default-encoding=UTF-8
spring.mail.host=smtp.qq.com
#465
spring.mail.port=587
spring.mail.username=jlbfine@qq.com
spring.mail.password=emnbsygyqacibgjh
spring.mail.protocol=smtp
spring.mail.properties.mail.smtp.auth=true

spring.messages.use-code-as-default-message=false
spring.messages.basename=messages.command_msg,messages.menu,messages.obname,messages.sql,messages.taskkey,messages.errors

logging.file=log/spring.log
logging.file.max-size=5MB
logging.file.max-history=100
logging.level.root=INFO
logging.level.com.go2wheel.mysqlbackup.job.SampleJob=ERROR
logging.level.com.go2wheel.mysqlbackup.job.SampleJobService=ERROR
logging.level.org.jooq=DEBUG
logging.level.org.flywaydb=DEBUG
logging.level.com.zaxxer.hikari=DEBUG
logging.level.com.sun.mail.smtp=DEBUG

myapp.dataDir=boxes
myapp.downloadFolder=notingit
myapp.ssh.sshIdrsa=G:/cygwin64/home/Administrator/.ssh/id_rsa
myapp.ssh.knownHosts=G:/cygwin64/home/Administrator/.ssh/known_hosts
myapp.jp.maxThreads=3
myapp.jp.waitPause=10
myapp.jp.maxWait=10000
myapp.jp.remoteMode=false
myapp.storage_excludes[0]=/dev
myapp.storage_excludes[1]=/dev/shm
myapp.storage_excludes[2]=/run
myapp.storage_excludes[3]=/sys/fs/cgroup
myapp.storage_excludes[4]=/boot
myapp.storage_excludes[5]=/run/user/0
myapp.storage_excludes[6]=/run/user/1000
myapp.storage_excludes[7]=\u6302\u8F7D\u70B9
myapp.cache.combo=0

using.spring.schedulerFactory=true
expectit.echo=true

dv.cron.server-state=0 0/2 * * * ?
dv.cron.storage-state=0 0/2 * * * ?
dv.cron.borg_archive=0 0/2 * * * ?
dv.cron.borg_prune=0 0/2 * * * ?
dv.cron.mysql_flush=0 0/2 * * * ?
dv.cron.common[0]=0 33 0/1 * * ?|\u5728\u6BCF\u5C0F\u65F6\u768433\u5206\u949F\u65F6
dv.cron.common[1]=0 0/30 * * * ?|\u6BCF\u534A\u4E2A\u5C0F\u65F6
dv.cron.common[2]=0 30 12,18 * * ?|\u6BCF\u5929\u4E2D\u534812\u70B9\u534A\u548C\u4E0B\u53486\u70B9\u534A
dv.cron.common[3]=0 15 10 ? * MON-FRI|\u5468\u4E00\u5230\u5468\u4E94\u768410\u70B915\u5206
dv.cron.common[4]=0 15 0 13 * ?|\u6BCF\u4E2A\u670813\u65E5\u96F6\u70B915\u5206
dv.cron.common[5]=0 15 0 * * ?|\u6BCF\u5929\u96F6\u70B915\u5206
dv.cron.common[6]=0 15 1 * * ?|\u6BCF\u59291\u70B915\u5206
dv.cron.common[7]=0 15 2 * * ?|\u6BCF\u59292\u70B915\u5206
dv.cron.common[8]=0 15 3 * * ?|\u6BCF\u59293\u70B915\u5206
dv.cron.common[9]=0 15 4 * * ?|\u6BCF\u59294\u70B915\u5206

dv.default-count.server-state=2
dv.default-count.storage-state=7
dv.default-count.job-log=20
dv.default-count.mysql-dump=2
dv.default-count.mysql-flush=10
dv.default-count.borg-download=20

menus.groups[0].name=g2
menus.groups[0].order=1000
menus.groups[0].items[0].name=menu.home
menus.groups[0].items[0].order=1
menus.groups[0].items[0].path=/

only.you=true

ppp.aslist[0]=abc
ppp.aslist[1]=ccd

spring.thymeleaf.prefix=file:templates/thymeleaf/
spring.thymeleaf.suffix=

spring.freemarker.template-loader-path=file:templates/freemarker/
spring.freemarker.suffix=
spring.freemarker.prefix=
spring.freemarker.prefer-file-system-access=true
spring.mvc.async.request-timeout=180000