<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="detail (tplUtil, serverCtx)">
    <div th:assert="${tplUtil}, ${serverCtx}"></div>
    <div th:if="${(serverCtx.borgDownloads ne null) and (not #lists.isEmpty(serverCtx.borgDownloads))}">
	<p>---------------------- 文件系统备份状况-------------------------------</p>
      <table>
        <tr>
          <th>日期</th>
          <th>总文件数</th>
          <th>下载文件数</th>
          <th>总大小</th>
          <th>下载大小</th>
          <th>耗时</th>
        </tr>
        <tr th:each="download : ${serverCtx.borgDownloads}">
          <td th:text="${#dates.format(download.createdAt, 'yyyy-MM-dd')}">Onions</td>
          <td th:text="${download.totalFiles}">Onions</td>
          <td th:text="${download.downloadFiles}">Onions</td>
          <td th:text="${tplUtil.formatSize(download.totalBytes)}">2.41</td>
          <td th:text="${tplUtil.formatSize(download.downloadBytes)}">2.41</td>
          <td th:text="${tplUtil.getFormatedTimeCosts(download.timeCost)}">Onions</td>
          <!--/*-->
          <td th:text="${download.getFormatedTimeCosts(T(java.util.concurrent.TimeUnit).SECONDS)}">Onions</td>
          <!--*/-->
        </tr>
      </table>
	<p>---------------------- 文件系统备份状况-------------------------------</p>
    </div>
  </div>
</body>
</html>