<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="detail (tplUtil, serverCtx)">
    <div th:text="|服务器名称： ${serverCtx.server.name}|"></div>
    <p th:text="|CPU核数: ${serverCtx.server.coreNumber}|">CPU核数</p>
    <p th:text="|物理内存: ${serverCtx.mem}|">物理内存</p>

    <div th:insert="~{fragments/storage-state.html :: detail}"></div>
    <div th:insert="~{fragments/server-state.html :: detail}"></div>
    <div th:insert="~{fragments/mysql-dump.html :: detail (tplUtil=${tplUtil}, serverCtx=${serverCtx})}"></div>
    <div th:insert="~{fragments/mysql-flush.html :: detail (tplUtil=${tplUtil}, serverCtx=${serverCtx})}"></div>
    <div th:insert="~{fragments/borg-download.html :: detail (tplUtil=${tplUtil}, serverCtx=${serverCtx})}"></div>
  </div>
</body>
</html>