<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!--/*-->
 
<!--*/-->

<body>
  <div th:fragment="detail" th:with="tb=${serverCtx.getStorageStateByRoot()}" >
  <div th:if="${not #maps.isEmpty(tb)}">
  <p>----------------------存储状况-------------------------------</p>
    <div>
      <table>
        <tr th:with="dts=${tb.values().iterator().next().keySet()}">
          <th>根目录</th>
          <th th:each="dt: ${dts}" th:text="${dt}">使用比例</th>
        </tr>

        <tr th:each="rootDatePercentsEntry: ${tb}">
          <td th:text="${rootDatePercentsEntry.key}">2.41</td>
          <th th:each="dp: ${rootDatePercentsEntry.value}" th:text="|${#numbers.formatDecimal(dp.value.getUsedRatio(),0,2)}%|">使用比例</th>
        </tr>
         
      </table>
    </div>
  <p>----------------------存储状况-------------------------------</p>
  </div>
  </div>
</body>
</html>