<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index Page</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1>Apache Configuration Assistants</h1>
				<h2>让配置Apache更简单一些。</h2>
			</div>

			<div class="content">
				<h2 id="simplest" class="content-subhead">静态文件的伺候，即怎样把磁盘上的文件通过apache分发出去？<a href="#simplest" class="content-link" title="Heading anchor"></a></h2>
				<ul>
					<li>
						配置文件里面有DocumentRoot标签，指向一个磁盘目录，此目录会映射到URL空间的"/"。比如：DocumentRoot是/var/www/html，那么:
						<pre class="code" data-language="html"><code>http://localhost/1.txt == /var/www/html/1.txt。</code></pre>
					</li>
					<li>
						除了DocumentRoot之外，也可以通过Alias定义新的映射关系，比如：
						<pre class="code" data-language="html"><code>Alias "/image" "/ftp/pub/image"</code></pre>
						不要忘记对/ftp/pub/image目录放宽操作权限，不然会被访问拒绝。
					</li>
				</ul>
				<h2 id="mod-rewrite" class="content-subhead">URL重写和Proxy的配置<a href="#mod-rewrite" class="content-link" title="Heading anchor"></a></h2>
				<ul>
					<li>首先留意几个和问题排除相关的配置条目：ErrorLog, LogLevel，比如调整日志的详细度：</li>
					<pre class="code" data-language="html"><code>LogLevel debug rewrite:trace8</code></pre>
					这样就可以从日志看到重写的情况，是否Hit。
					<li>还应该知道如何检查Apache配置文件是否正确，常见的命令：
						<pre class="code" data-language="html"><code>apachectl -t 或者 httpd -t</code></pre>
					</li>
					<li>最常见的一个配置，如果请求的文件存在就发送它，如果不在就从后端取（Proxy）
						<pre class="code" data-language="html"><code>RewriteEngine on
RewriteCond /var/www/%{REQUEST_URI} !-f
RewriteRule "/(.*)" "http://localhost:8080/$1" [P]</code></pre>
					</li>
				</ul>

<!--				
				<div id="quartz-cron-builder">
					<form class="pure-form pure-form-stacked">
						<fieldset>
							<div class="pure-g">
								<div class="pure-u-1">
									<select id="loop-unit" class="pure-input-1" th:remove="all-but-first">
										<option th:each="pattern: ${patterns}" th:value="${pattern.name}" th:text="${pattern.iname}">固定周期执行一次</option>
										<option>指定日期执行一次</option>
									</select>
								</div>
							</div>
						</fieldset>
					</form>
					<p>每秒钟执行1次</p>
				</div>
					<h2 id="common-layouts" class="content-subhead">关于Apache配置文件的简要说明 <a href="#common-layout" class="content-link" title="Heading anchor"></a></h2>
					<p>Apache的httpd.conf文件本身相当于一个默认的VirtualHost配置，如果你配置了VirtualHost，那么该VirtualHost的配置会覆盖默认配置。那么没有覆盖的配置呢？就会继承！</p>
			-->
			</div>

		</div>
	</div>
	<script th:inline="javascript">
		var buildCtx = /*[[${buildCtx}]]*/ null;
	</script>
</body>
</html>