<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Borg卷列表</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1>Borg卷列表</h1>
			</div>
			<div class="content">

				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="myModalTitle">卷的详细信息</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<pre class="code" data-language="html"><code>
						</code></pre>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>

				<!--
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<h1 id="myModalLabel">卷的详细信息</h1>
					</div>

					<div class="modal-body">
						<pre class="code" data-language="html"><code>

						</code></pre>
					</div>

					<div class="modal-footer">
						<button class="pure-button" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>
			-->
				<div id="action-menu-bar"></div>
				<table class="pure-table pure-table-bordered item-list item-list-single-select">
					<thead>
						<tr>
							<th>
								<input id="item-list-check-all" th:id="item-list-check-all" type="checkbox">
							</th>
							<th>卷名称</th>
						</tr>
					</thead>

					<tbody th:remove="all-but-first">
						<tr th:each="item: ${listItems}">
							<td>
								<input id="particular-item" th:id="|item-${item}|" type="checkbox">
							</td>
							<td th:text="${item}">Honda</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Toyota</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Hyundai</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
		var mapping = /*[[${mapping}]]*/ "/app/listItems";
		var serverId = /*[[${server.id}]]*/ "0";
		var cache = {};
		var modal = jQuery('#myModal');
		window.freact.renderActionMenuBar(mapping,
			".item-list",
			[{
				actionId: 'archiveDetail',
				name: '详细内容',
				activeOn: 'SINGLE',
				onClick: function () {
					console.log(this);
					var item = this.state.selectedItems[0].id;
					var url = window.freact.strUtil.format('/app/borg/info/{server}/{archive}', { server: serverId, archive: item });

					if (cache[url]) {
						modal.find('.code').html(cache[url]);
						modal.modal('show');
					} else {
						jQuery.ajax(url, { method: 'GET' }).done(function (data, textStatus, jqXHR) {
							cache[url] = data;
							modal.find('.code').html(cache[url]);
							modal.modal('show');
						});
					}

				}
			}, {
				actionId: 'archiveCreate',
				name: '创建卷',
				activeOn: 'ALWAYS',
				onClick: function () {
					var url = window.freact.strUtil.format('/app/borg/archives/{server}', { server: serverId });
					window.freact.formUtil.createFormSubmit({ action: url, method: 'POST' }, {});
				}
			}, {
				actionId: 'archivePrune',
				name: '整理卷',
				activeOn: 'ALWAYS',
				confirm: '清理卷以保持设定的卷数量？',
				onClick: function () {
					var url = window.freact.strUtil.format('/app/borg/archives/{server}', { server: serverId });
					window.freact.formUtil.createFormSubmit({ action: url, method: 'PUT' }, {});
				}
			}]);
	</script>
</body>

</html>