<!doctype html>
<html
	th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index Page</title>
</head>
<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1>还没写好的首页</h1>
				<h2>断断续续学了不少东西，看看能写一点什么。</h2>
			</div>

			<div class="content">
				<h2 id="common-layouts" class="content-subhead">页面列表</h2>
				<ul>
					<li><a href="/weblized/quartz-cron-builder">quartz cron expression builder</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>