<!doctype html>
<html
	th:replace="~{layout :: layout(~{}, ~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index Page</title>
</head>
<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1>工具锦集</h1>
				<h2>将不经常使用但又非使用不可的工具图形化，简单化。</h2>
			</div>

			<div class="content">
				<p></p>
				<ul>
					<li><a href="/weblized/quartz-cron-builder">Java Quartz Cron Expression Builder</a></li>
					<li><a href="/weblized/apache-conf-assistants">Apache Configuration Assistants</a></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>