<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>订阅者列表</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:text="#{${entityName}} + '列表'"></h1>
			</div>
			<div class="content">
				<div id="action-menu-bar"></div>
				<table class="pure-table pure-table-bordered item-list">
					<thead>
						<tr>
							<th>
								<input id="item-list-check-all" th:id="item-list-check-all" type="checkbox">
							</th>
							<th>源服务器</th>
							<th>回放服务器</th>
							<th>回放内容</th>
						</tr>
					</thead>

					<tbody th:remove="all-but-first">
						<tr th:each="item: ${listItems}">
							<td>
								<input id="particular-item" th:id="|item-${item.id}|" type="checkbox">
							</td>
							<td th:text="${idEntityMap.get(item.sourceServerId).name}">Honda</td>
							<td th:text="${idEntityMap.get(item.targetServerId).name}">Honda</td>
							<td th:text="${item.playWhat}">Honda</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Toyota</td>
							<td>Camry</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Hyundai</td>
							<td>Elantra</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
		var mapping = /*[[${mapping}]]*/ "/app/listItems";
		window.freact.renderActionMenuBar(mapping,
			".item-list",
			["create", "edit", "delete", {
				actionId: 'playback',
				name: '回放',
				activeOn: 'SINGLE',
				onClick: { 
					react: 'GET',
					url: mapping + '/{id}'
				}
			}]);
	</script>
</body>

</html>