<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Index Page</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1>Quartz Cron Builder</h1>
				<h2>让构建计划任务表达式更简单一些。</h2>
			</div>

			<div class="content">
				<div>
				<form class="pure-form pure-form-stacked">
					<fieldset>
						<div class="pure-g">
							<div class="pure-u-1">
								<select id="loop-unit" class="pure-input-1">
									<option>固定周期执行一次</option>
									<option>指定日期执行一次</option>
								</select>
							</div>
						</div>
					</fieldset>
				</form>
				<form class="pure-form pure-form-stacked">
					<fieldset>
						<div class="pure-g">
							<div class="pure-u-1-2">
								<label for="loop-value">数值（每隔多少单位）</label>
								<input id="loop-value" class="pure-u-23-24" type="text" placeholder="">
							</div>
							<div class="pure-u-1-2">
								<label for="loop-unit">单位</label>
								<select id="loop-unit" class="pure-input-1-2">
									<option>秒钟</option>
									<option>分钟</option>
									<option>小时</option>
									<option>天</option>
								</select>
							</div>
						</div>
					</fieldset>
				</form>
				<p>表达式描述</p>
				<form class="pure-form pure-form-stacked">
					<fieldset>
						<!--						<legend>点击对应字段修改表达式：</legend> -->

						<div class="pure-g">
							<div class="pure-u-1-8">
								<input id="first-name" class="pure-u-23-24" type="text" placeholder="秒">
							</div>

							<div class="pure-u-1-8">
								<input id="last-name" class="pure-u-23-24" type="text" placeholder="分">
							</div>

							<div class="pure-u-1-8">
								<input id="email" class="pure-u-23-24" type="email" placeholder="时">
							</div>

							<div class="pure-u-1-8">
								<input id="city" class="pure-u-23-24" type="text" placeholder="月天">
							</div>

							<div class="pure-u-1-8">
								<input id="city" class="pure-u-23-24" type="text" placeholder="月">
							</div>

							<div class="pure-u-1-8">
								<input id="city" class="pure-u-23-24" type="text" placeholder="周天">
							</div>

							<div class="pure-u-1-8">
								<input id="city" class="pure-u-23-24" type="text" placeholder="年">
							</div>
						</div>
					</fieldset>
				</form>
				<div>
					<table class="pure-table pure-table-bordered">
						<thead>
							<tr>
								<th>字段名</th>
								<th>允许值</th>
								<th>允许特殊字符</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td>秒</td>
								<td>0-59</td>
								<td>, - * /</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</div>
		</div>
	</div>
</body>
<!--
Seconds	YES	0-59	, - * /
Minutes	YES	0-59	, - * /
Hours	YES	0-23	, - * /
Day of month	YES	1-31	, - * ? / L W
Month	YES	1-12 or JAN-DEC	, - * /
Day of week	YES	1-7 or SUN-SAT	, - * ? / L #
Year	NO	empty, 1970-2099	, - * /
-->

</html>