<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="form-parts :: title"></title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:replace="form-parts :: header">编辑或新建</h1>
			</div>
			<div th:replace="form-parts :: content(~{::div.pure-control-group}, ~{})" class="content">
				<div class="pure-control-group">
					<label for="name">名称</label>
					<input th:field="*{name}" type="text" placeholder="">
					<span class="pure-form-message-inline">必须.</span>
				</div>

				<div class="pure-control-group">
					<label for="host">主机名或IP</label>
					<input th:field="*{host}" type="text" placeholder="">
					<span class="pure-form-message-inline">必须.</span>
				</div>
				<div class="pure-control-group">
					<label for="username">登陆用户</label>
					<input th:field="*{username}" type="text" placeholder="">
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group">
					<label for="password">登陆密码</label>
					<input th:field="*{password}" type="text" placeholder="">
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group pure-combo">
					<label for="serverStateCron">健康检查日历</label>
					<input th:field="*{serverStateCron}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${crons}" th:value="${one.expression}" th:text="${one.description}" th:selected="${one.expression} == ${singleItem.serverStateCron}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>

				<div class="pure-control-group pure-combo">
					<label for="storageStateCron">存储检查日历</label>
					<input th:field="*{storageStateCron}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${crons}" th:value="${one.expression}" th:text="${one.description}" th:selected="${one.expression} == ${singleItem.storageStateCron}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>

				<div class="pure-control-group">
					<label for="sshKeyFile">SSH_KEY_FILE</label>
					<input th:field="*{sshKeyFile}" type="text" placeholder="">
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group">
					<label for="serverRole">服务器用处</label>
					<select th:field="*{serverRole}" th:remove="all-but-first">
						<option th:each="one : ${new String[]{'GET', 'SET'}}" th:value="${one}" th:text="${one}" th:selected="${one} == ${singleItem.serverRole}">AL</option>
						<option>GET</option>
						<option>SET</option>
					</select>
					<span class="pure-form-message-inline">必须.</span>
				</div>

				<div class="pure-control-group">
					<label for="os">OS类型</label>
					<select th:field="*{os}" th:remove="all-but-first">
						<option th:each="one : ${oses}" th:value="${one}" th:text="${one}" th:selected="${one} == ${singleItem.os}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline">必须.</span>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.freact.pureCombo();
	</script>
</body>

</html>