<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>服务器列表</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:text="${serverGrp != null ? serverGrp.ename + '的' : ''} + '服务器列表'">服务器列表</h1>


				<form style="display: none;" class="pure-form add-member-form" th:if="${serverGrp != null}" method="POST" action="/app/server-grps/100/servers" th:action="@{/app/server-grps/{serverGrpId}/servers(serverGrpId=${serverGrp.id})}">
					<fieldset>
						<legend>添加成员</legend>
						<select th:remove="all-but-first" name="serverId">
							<option th:each="one : ${otherServers}" th:value="${one.id}" th:text="${one.name}">AL</option>
							<option>CA</option>
							<option>IL</option>
						</select>
						<button type="submit" class="pure-button pure-button-primary">添加</button>
					</fieldset>
				</form>

				<h2 th:if="${serverGrp == null}">服务器包括：需要备份的服务器、运行此程序的服务器以及回放内容的服务器。</h2>
			</div>
			<div class="content">
				<div id="action-menu-bar"></div>
				<table class="pure-table pure-table-bordered item-list">
					<thead>
						<tr>
							<th>
								<input id="item-all" th:id="item-all" type="checkbox">
							</th>
							<th>名称</th>
							<th>主机名|IP</th>
							<th>操作系统</th>
							<th>角色</th>
						</tr>
					</thead>

					<tbody th:remove="all-but-first">
						<tr th:each="item: ${listItems}">
							<td>
								<input id="particular-item" th:id="|item-${item.id}|" type="checkbox">
							</td>
							<td th:text="${item.name}">Honda</td>
							<td th:text="${item.host}">Accord</td>
							<td th:text="${item.os}">2009</td>
							<td th:text="${item.serverRole} ?: 'GET'">2009</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Toyota</td>
							<td>Camry</td>
							<td>2012</td>
							<td>2009</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Hyundai</td>
							<td>Elantra</td>
							<td>2010</td>
							<td>2009</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
		var mapping = /*[[${mapping}]]*/ "/app/listItems";
		var grpId = /*[[${serverGrp != null ? serverGrp.id : ''}]]*/ 0;
		window.freact.renderActionMenuBar(mapping,
			".item-list",
			["create", "edit", "delete", {
				actionId: 'createmysql',
				name: '管理MYSQL',
				activeOn: 'SINGLE',
				onClick: { react: 'GET', url: '/app/mysql-instances/create?server={id}' }
			},{
				actionId: 'createborg',
				name: '备份目录',
				activeOn: 'SINGLE',
				onClick: { react: 'GET', url: '/app/borg-descriptions/create?server={id}' }
			}, {
				actionId: 'showAddMember',
				name: '添加成员',
				activeOn: function() {
					return grpId;
				},
				onClick: function(e) {
					jQuery('.add-member-form').toggle();
				}
			}, {
				actionId: 'removeFromGrp',
				name: '离开群组',
				activeOn: function() {
					return !!this.urlParametesMap['server-grp'] && this.props.selectedItems.length > 0;
				},
				onClick: { react: 'DELETE', url: '/app/server-grps/' + grpId + '/servers', data: function() {
					return {id: this.state.selectedItems[0].id};
				}}
			}, {
				actionId: 'installSoftware',
				name: '安装程序',
				activeOn: 'SINGLE',
				onClick: { react: 'GET', url: '/app/software-install/{id}' }
			}]);
	</script>

</body>

</html>