<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="form-parts :: title"></title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:replace="form-parts :: header">编辑或新建</h1>
			</div>
			<div th:replace="form-parts :: content(~{::div.pure-control-group}, ~{})" class="content">
				<div class="pure-control-group">
					<label for="name">名称</label>
					<input th:field="*{name}" type="text" placeholder="">
					<span class="pure-form-message-inline">必须.</span>
				</div>

				<div class="pure-control-group pure-combo">
					<label for="template">模板</label>
					<input th:field="*{template}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${templates}" th:value="${one}" th:text="${one}" th:selected="${one} == ${singleItem.template}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group pure-combo">
					<label for="userAccountId">订阅账号</label>
					<input th:field="*{userAccountId}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${userAccounts}" th:value="${one.id}" th:text="${one.name}" th:selected="${one.id} == ${singleItem.userAccountId}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group pure-combo">
					<label for="cronExpression">频率调度</label>
					<input th:field="*{cronExpression}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${crons}" th:value="${one.expression}" th:text="${one.description}" th:selected="${one.expression} == ${singleItem.cronExpression}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>
				<div class="pure-control-group pure-combo">
					<label for="serverGrpId">服务器组</label>
					<input th:field="*{serverGrpId}" type="text" placeholder="">
					<select th:remove="all-but-first">
						<option th:each="one : ${serverGroups}" th:value="${one.id}" th:text="${one.ename}" th:selected="${one.id} == ${singleItem.serverGrpId}">AL</option>
						<option>CA</option>
						<option>IL</option>
					</select>
					<span class="pure-form-message-inline"></span>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.freact.pureCombo();
	</script>
</body>

</html>