<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>订阅列表</title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:text="#{${entityName}} + '列表'"></h1>
			</div>
			<div class="content">
				<div id="action-menu-bar"></div>
				<table class="pure-table pure-table-bordered item-list">
					<thead>
						<tr>
							<th>
								<input id="item-list-check-all" th:id="item-list-check-all" type="checkbox">
							</th>
							<th>名称</th>
							<th>模板</th>
							<th>订阅日期</th>
						</tr>
					</thead>

					<tbody th:remove="all-but-first">
						<tr th:each="item: ${listItems}">
							<td>
								<input id="particular-item" th:id="|item-${item.id}|" type="checkbox">
							</td>
							<td th:text="${item.name}">Honda</td>
							<td th:text="${item.template}">Accord</td>
							<td th:text="${item.createdAt}">2009</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Toyota</td>
							<td>Camry</td>
							<td>2012</td>
						</tr>

						<tr>
							<td>3</td>
							<td>Hyundai</td>
							<td>Elantra</td>
							<td>2010</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

	<script th:inline="javascript">
		window.freact.renderActionMenuBar(/*[[${mapping}]]*/ "/app/listItems",
			".item-list",
			["create", "edit", "delete",{
				actionId: 'emailReport',
				name: 'email报表',
				activeOn: 'SINGLE',
				onClick: { react: 'POST', url: '/app/report/mail', data: function() {
					return {id: this.state.selectedItems[0].id};
				}, settings: {},
				 done: function(data) {
					 showModal('发送邮件结果', '已发送至：' + data.email, 5000, 'modal-sm');
				}}
			}, {
				actionId: 'htmlReport',
				name: 'html报表',
				activeOn: 'SINGLE',
				onClick: function() {
					var subscribe = this.state.selectedItems[0].id;
					var url = window.freact.strUtil.format('/app/report/html/{subscribe}', {subscribe: subscribe});
					window.location.href = url;
				}
			}, {
				actionId: 'pdfReport',
				name: 'pdf报表',
				activeOn: 'SINGLE',
				onClick: function() {
					var subscribe = this.state.selectedItems[0].id;
					var url = window.freact.strUtil.format('/app/report/pdf/{subscribe}', {subscribe: subscribe});
					window.location.href = url;
				}
			}]);
	</script>
</body>

</html>