<!doctype html>
<html th:replace="~{layout :: layout(~{::title}, ~{},  ~{::div.header}, ~{::div.content}, ~{::script})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:replace="form-parts :: title"></title>
</head>

<body>
	<div id="layout">
		<div id="main">
			<div class="header">
				<h1 th:replace="form-parts :: header">编辑或新建</h1>
			</div>
			<div th:replace="form-parts :: content(~{::div.pure-control-group}, ~{})" class="content">
				<div class="pure-control-group">
					<label for="name">名称</label>
					<input th:field="*{name}" type="text" placeholder="">
					<span class="pure-form-message-inline">必须.</span>
				</div>

				<div class="pure-control-group">
					<label for="email">邮件地址</label>
					<input th:field="*{email}" type="text" placeholder="">
					<span class="pure-form-message-inline">必须.</span>
				</div>
				<div class="pure-control-group">
					<label for="mobile">手机账号</label>
					<input th:field="*{mobile}" type="text" placeholder="">
					<span class="pure-form-message-inline"></span>
				</div>
			</div>
		</div>
	</div>
	<script>
		window.freact.pureCombo();
	</script>
</body>

</html>